*{
    padding: 0;
    margin: 0;
}
#body{
    background-color: teal;
}
h1{
    color: #fff;
    text-shadow: 2px 3px rgba(0,0,0,1.6);
    font-style: italic;
}
.todo-container{
    margin: 20px auto;
    text-align: center;
}
.todo-container>input{
    outline: none;
    border-radius: 10px;
    padding: 5px;
}
#btn{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: none;
    cursor: pointer;
}
.list-container{
    margin-top: 40px;
    color: white;
}
.unordered-list-items{
    margin: auto;
    width: 300px;
    height: 300px;
}
.list-item{
    padding: 0;
    list-style: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.display>div>i{
    margin-left: 20px;
}